<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="jumbotron jumbotron-fluid" style="padding-top: 15px; padding-bottom: 15px; margin-bottom: 10px">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-md-10">
        <h3 class="display-4">NoSQL y análisis de contenido</h3>
        <p class="lead">Análisis de una fuente de datos escalable, con contenido textual. </p>
        <span class="text-muted">Grupo 10: Diego Fernando Escobar Trujillo - Lucy Jacquelin Morales Diaz - Alejandro Mazuera Rozo</span>
      </div>
      <div class="col-xs-2 col-md-2">
        <img src="assets\twitter.png" style="width: 100%;height: auto;">
      </div>

    </div>

  </div>
</div>






<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#dashboard" role="tab" aria-controls="home" aria-selected="true">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#historico" role="tab" aria-controls="profile" aria-selected="false">Histórico</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#matoneo" role="tab" aria-controls="contact" aria-selected="false">Indice de Matoneo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#timeline" role="tab" aria-controls="contact" aria-selected="false">Temas de interés</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#afinidad" role="tab" aria-controls="contact" aria-selected="false">Tag Cloud</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#tweets" role="tab" aria-controls="contact" aria-selected="false">Tweets</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#mapa" role="tab" aria-controls="contact" aria-selected="false">Mapa</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">



  <!-- GRAFICAS DEL DASHBOARD PRINCIPAL-->
  <div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
    <div class="container-fluid" style="margin-top: 20px;">
      <div class="row">
        <div class="col-sm" (click)="twitterUrl('A_OrdonezM')">
          <img src="assets\@A_OrdonezM.jpg" class="circle">
        </div>
        <div class="col-sm" (click)="twitterUrl('AlvaroUribeVel')">
          <img src="assets\@AlvaroUribeVel.jpeg" class="circle">
        </div>
        <div class="col-sm" (click)="twitterUrl('AndresPastrana_')">
          <img src="assets\@AndresPastrana_.jpg" class="circle">
        </div>
        <div class="col-sm" (click)="twitterUrl('BluRadioCo')">
          <img src="assets\@BluRadioCo.jpg" class="circle">
        </div>
        <div class="col-sm" (click)="twitterUrl('CaracolRadio')">
          <img src="assets\@CaracolRadio.jpg" class="circle">
        </div>
        <div class="col-sm" (click)="twitterUrl('CGurisattiNTN24')">
          <img src="assets\@CGurisattiNTN24.jpg" class="circle">
        </div>
        <div class="col-sm" (click)="twitterUrl('ClaudiaLopez')">
          <img src="assets\@ClaudiaLopez.jpg" class="circle">
        </div>
        <div class="col-sm" (click)="twitterUrl('DanielSamperO')">
          <img src="assets\@DanielSamperO.jpg" class="circle">
        </div>
        <div class="col-sm" (click)="twitterUrl('DeLaCalleHum')">
          <img src="assets\@DeLaCalleHum.jpg" class="circle">
        </div>
        <div class="col-sm" (click)="twitterUrl('elespectador')">
          <img src="assets\@elespectador.jpg" class="circle">
        </div>
        <div class="col-sm" (click)="twitterUrl('ELTIEMPO')">
          <img src="assets\@ELTIEMPO.jpg" class="circle">
        </div>
      </div>
      <div class="row" style="margin-top: 15px;">
        <div class="col-sm" (click)="twitterUrl('FARC_EPaz')">
          <img src="assets\@FARC_EPaz.jpg" class="circle">
        </div>
        <div class="col-sm" (click)="twitterUrl('German_Vargas')">
          <img src="assets\@German_Vargas.jpg" class="circle">
        </div>
        <div class="col-sm" (click)="twitterUrl('IvanDuque')">
          <img src="assets\@IvanDuque.jpg" class="circle">
        </div>
        <div class="col-sm" (click)="twitterUrl('JSantrich_FARC')">
          <img src="assets\@JSantrich_FARC.jpg" class="circle">
        </div>
        <div class="col-sm" (click)="twitterUrl('JuanManSantos')">
          <img src="assets\@JuanManSantos.jpg" class="circle">
        </div>
        <div class="col-sm" (click)="twitterUrl('mluciaramirez')">
          <img src="assets\@mluciaramirez.jpg" class="circle">
        </div>
        <div class="col-sm" (click)="twitterUrl('NoticiasCaracol')">
          <img src="assets\@NoticiasCaracol.jpg" class="circle">
        </div>
        <div class="col-sm" (click)="twitterUrl('NoticiasRCN')">
          <img src="assets\@NoticiasRCN.jpg" class="circle">
        </div>
        <div class="col-sm" (click)="twitterUrl('OIZuluaga')">
          <img src="assets\@OIZuluaga.png" class="circle">
        </div>
        <div class="col-sm" (click)="twitterUrl('petrogustavo')">
          <img src="assets\@petrogustavo.jpg" class="circle">
        </div>
        <div class="col-sm" (click)="twitterUrl('TimoFARC')">
          <img src="assets\@TimoFARC.jpg" class="circle">
        </div>
      </div>
      <div class="row" style="margin-top: 20px;">
        <div class="col col-3">
          <ngx-charts-advanced-pie-chart *ngIf="singleAdvancedPie && singleAdvancedPie.length > 0" [view]="viewAdvancedPie" [scheme]="colorSchemeAdvancedPie"
            [results]="singleAdvancedPie" [gradient]="gradientAdvancedPie" [tooltipDisabled]="false">
          </ngx-charts-advanced-pie-chart>
        </div>
        <div class="col col-8" style="margin-left: 100px;">

          <ngx-charts-line-chart *ngIf="multiLineChart && multiLineChart.length > 0" [view]="viewLineChart" [scheme]="colorSchemeLineChart"
            [results]="multiLineChart" [gradient]="gradientLineChart" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegendLineChart"
            [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
            [autoScale]="autoScale" [tooltipDisabled]=false>
          </ngx-charts-line-chart>

        </div>
      </div>

      
      
      <div class="row" style="margin-top: 20px; height:500px;">

        <ngx-charts-bar-vertical-stacked  *ngIf="multiTonalidadInf && multiTonalidadInf.length > 0" [scheme]="colorSchemeTonalidadInf"
          [results]="multiTonalidadInf" [gradient]="gradientTonalidadInf" [xAxis]="showXAxisTonalidadInf" [yAxis]="showYAxisTonalidadInf"
          [legend]="showLegendTonalidadInf" [showXAxisLabel]="showXAxisLabelTonalidadInf" [showYAxisLabel]="showYAxisLabelTonalidadInf"
          [xAxisLabel]="xAxisLabelTonalidadInf" [yAxisLabel]="yAxisLabelTonalidadInf">
        </ngx-charts-bar-vertical-stacked>

      </div>



    </div>
  </div>

  <!-- GRAFICAS DEL ANALISIS DE CANTIDAD DE SEGUIDORES POR USUARIO -->
  <div class="tab-pane fade" id="historico" role="tabpanel" aria-labelledby="topic-tab">
    <div class="container-fluid cont" style="margin-top: 50px;">

      <div class="row">
        <div class="col col-lg-3">

          <div class="row">
            <div class="col-sm" (click)="onImageFollowerClick('A_OrdonezM')">
              <img src="assets\@A_OrdonezM.jpg" class="circleRow">
            </div>
            <div class="col-sm" (click)="onImageFollowerClick('AlvaroUribeVel')">
              <img src="assets\@AlvaroUribeVel.jpeg" class="circleRow">
            </div>
            <div class="col-sm" (click)="onImageFollowerClick('AndresPastrana_')">
              <img src="assets\@AndresPastrana_.jpg" class="circleRow">
            </div>
            <div class="col-sm" (click)="onImageFollowerClick('BluRadioCo')">
              <img src="assets\@BluRadioCo.jpg" class="circleRow">
            </div>
          </div>

          <div class="row" style="margin-top: 10px;">
            <div class="col-sm" (click)="onImageFollowerClick('CaracolRadio')">
              <img src="assets\@CaracolRadio.jpg" class="circleRow">
            </div>
            <div class="col-sm" (click)="onImageFollowerClick('CGurisattiNTN24')">
              <img src="assets\@CGurisattiNTN24.jpg" class="circleRow">
            </div>
            <div class="col-sm" (click)="onImageFollowerClick('ClaudiaLopez')">
              <img src="assets\@ClaudiaLopez.jpg" class="circleRow">
            </div>
            <div class="col-sm" (click)="onImageFollowerClick('DanielSamperO')">
              <img src="assets\@DanielSamperO.jpg" class="circleRow">
            </div>
          </div>

          <div class="row" style="margin-top: 10px;">
            <div class="col-sm" (click)="onImageFollowerClick('DeLaCalleHum')">
              <img src="assets\@DeLaCalleHum.jpg" class="circleRow">
            </div>
            <div class="col-sm" (click)="onImageFollowerClick('elespectador')">
              <img src="assets\@elespectador.jpg" class="circleRow">
            </div>
            <div class="col-sm" (click)="onImageFollowerClick('ELTIEMPO')">
              <img src="assets\@ELTIEMPO.jpg" class="circleRow">
            </div>
            <div class="col-sm" (click)="onImageFollowerClick('FARC_EPaz')">
              <img src="assets\@FARC_EPaz.jpg" class="circleRow">
            </div>
          </div>

          <div class="row" style="margin-top: 10px;">
            <div class="col-sm" (click)="onImageFollowerClick('German_Vargas')">
              <img src="assets\@German_Vargas.jpg" class="circleRow">
            </div>
            <div class="col-sm" (click)="onImageFollowerClick('IvanDuque')">
              <img src="assets\@IvanDuque.jpg" class="circleRow">
            </div>
            <div class="col-sm" (click)="onImageFollowerClick('JSantrich_FARC')">
              <img src="assets\@JSantrich_FARC.jpg" class="circleRow">
            </div>
            <div class="col-sm" (click)="onImageFollowerClick('JuanManSantos')">
              <img src="assets\@JuanManSantos.jpg" class="circleRow">
            </div>
          </div>

          <div class="row" style="margin-top: 10px;">
            <div class="col-sm" (click)="onImageFollowerClick('mluciaramirez')">
              <img src="assets\@mluciaramirez.jpg" class="circleRow">
            </div>
            <div class="col-sm" (click)="onImageFollowerClick('NoticiasCaracol')">
              <img src="assets\@NoticiasCaracol.jpg" class="circleRow">
            </div>
            <div class="col-sm" (click)="onImageFollowerClick('NoticiasRCN')">
              <img src="assets\@NoticiasRCN.jpg" class="circleRow">
            </div>
            <div class="col-sm" (click)="onImageFollowerClick('OIZuluaga')">
              <img src="assets\@OIZuluaga.png" class="circleRow">
            </div>
          </div>

          <div class="row" style="margin-top: 10px;">
            <div class="col-sm" (click)="onImageFollowerClick('petrogustavo')">
              <img src="assets\@petrogustavo.jpg" class="circleRow">
            </div>
            <div class="col-sm" (click)="onImageFollowerClick('TimoFARC')">
              <img src="assets\@TimoFARC.jpg" class="circleRow">
            </div>
            <div class="col-sm">
              <img src="assets\null.jpg" class="circleRow">
            </div>
            <div class="col-sm">
              <img src="assets\null.jpg" class="circleRow">
            </div>
          </div>

        </div>
        <div class="col col-lg-8">
          <div class="row">
            <p style="text-align: center; font-size: 25px;">Análisis de histórico de seguidores: @{{nameFollowers}}</p>
          </div>
          <div class="row">
            <ngx-charts-line-chart *ngIf="multiLineChartFollowers && multiLineChartFollowers.length > 0" [view]="viewLineChartFollowers"
              [scheme]="colorSchemeLineChartFollowers" [results]="multiLineChartFollowers " [gradient]="gradientFollowers"
              [xAxis]="showXAxisFollowers" [yAxis]="showYAxisFollowers" [legend]="showLegendLineChartFollowers" [showXAxisLabel]="showXAxisLabelFollowers"
              [showYAxisLabel]="showYAxisLabelFollowers" [xAxisLabel]="xAxisLabelFollowers" [yAxisLabel]="yAxisLabelFollowers"
              [autoScale]="autoScaleFollowers" [tooltipDisabled]=false [animations]=false>
            </ngx-charts-line-chart>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- GRAFICAS DEL MATONE A USUARIOS -->
  <div class="tab-pane fade" id="matoneo" role="tabpanel" aria-labelledby="tagCloud-tab">

    <div class="container-fluid cont" style="margin-top: 50px;">

      <div class="row">
        <div class="col col-lg-3">

          <div class="row">
            <div class="col-sm" (click)="onImageGetTweetsClick('A_OrdonezM')">
              <img src="assets\@A_OrdonezM.jpg" class="circleRow">
            </div>
            <div class="col-sm" (click)="onImageGetTweetsClick('AlvaroUribeVel')">
              <img src="assets\@AlvaroUribeVel.jpeg" class="circleRow">
            </div>
            <div class="col-sm" (click)="onImageGetTweetsClick('AndresPastrana_')">
              <img src="assets\@AndresPastrana_.jpg" class="circleRow">
            </div>
            <div class="col-sm" (click)="onImageGetTweetsClick('BluRadioCo')">
              <img src="assets\@BluRadioCo.jpg" class="circleRow">
            </div>
          </div>

          <div class="row" style="margin-top: 10px;">
            <div class="col-sm" (click)="onImageGetTweetsClick('CaracolRadio')">
              <img src="assets\@CaracolRadio.jpg" class="circleRow">
            </div>
            <div class="col-sm" (click)="onImageGetTweetsClick('CGurisattiNTN24')">
              <img src="assets\@CGurisattiNTN24.jpg" class="circleRow">
            </div>
            <div class="col-sm" (click)="onImageGetTweetsClick('ClaudiaLopez')">
              <img src="assets\@ClaudiaLopez.jpg" class="circleRow">
            </div>
            <div class="col-sm" (click)="onImageGetTweetsClick('DanielSamperO')">
              <img src="assets\@DanielSamperO.jpg" class="circleRow">
            </div>
          </div>

          <div class="row" style="margin-top: 10px;">
            <div class="col-sm" (click)="onImageGetTweetsClick('DeLaCalleHum')">
              <img src="assets\@DeLaCalleHum.jpg" class="circleRow">
            </div>
            <div class="col-sm" (click)="onImageGetTweetsClick('elespectador')">
              <img src="assets\@elespectador.jpg" class="circleRow">
            </div>
            <div class="col-sm" (click)="onImageGetTweetsClick('ELTIEMPO')">
              <img src="assets\@ELTIEMPO.jpg" class="circleRow">
            </div>
            <div class="col-sm" (click)="onImageGetTweetsClick('FARC_EPaz')">
              <img src="assets\@FARC_EPaz.jpg" class="circleRow">
            </div>
          </div>

          <div class="row" style="margin-top: 10px;">
            <div class="col-sm" (click)="onImageGetTweetsClick('German_Vargas')">
              <img src="assets\@German_Vargas.jpg" class="circleRow">
            </div>
            <div class="col-sm" (click)="onImageGetTweetsClick('IvanDuque')">
              <img src="assets\@IvanDuque.jpg" class="circleRow">
            </div>
            <div class="col-sm" (click)="onImageGetTweetsClick('JSantrich_FARC')">
              <img src="assets\@JSantrich_FARC.jpg" class="circleRow">
            </div>
            <div class="col-sm" (click)="onImageGetTweetsClick('JuanManSantos')">
              <img src="assets\@JuanManSantos.jpg" class="circleRow">
            </div>
          </div>

          <div class="row" style="margin-top: 10px;">
            <div class="col-sm" (click)="onImageGetTweetsClick('mluciaramirez')">
              <img src="assets\@mluciaramirez.jpg" class="circleRow">
            </div>
            <div class="col-sm" (click)="onImageGetTweetsClick('NoticiasCaracol')">
              <img src="assets\@NoticiasCaracol.jpg" class="circleRow">
            </div>
            <div class="col-sm" (click)="onImageGetTweetsClick('NoticiasRCN')">
              <img src="assets\@NoticiasRCN.jpg" class="circleRow">
            </div>
            <div class="col-sm" (click)="onImageGetTweetsClick('OIZuluaga')">
              <img src="assets\@OIZuluaga.png" class="circleRow">
            </div>
          </div>

          <div class="row" style="margin-top: 10px;">
            <div class="col-sm" (click)="onImageGetTweetsClick('petrogustavo')">
              <img src="assets\@petrogustavo.jpg" class="circleRow">
            </div>
            <div class="col-sm" (click)="onImageGetTweetsClick('TimoFARC')">
              <img src="assets\@TimoFARC.jpg" class="circleRow">
            </div>
            <div class="col-sm">
              <img src="assets\null.jpg" class="circleRow">
            </div>
            <div class="col-sm">
              <img src="assets\null.jpg" class="circleRow">
            </div>
          </div>

        </div>

        <div class="col col-lg-4">
          <div style="height: 350px; overflow: auto">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="col col-3">Tweets de @{{nameMatone}}</th>
                  <th class="col col-2">Respuestas</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tweet of tweetsByAccount;">
                  <td class="col col-3">{{tweet.text}}</td>
                  <td class="col col-1">
                    <button type="button" class="btn btn-primary" (click)="onClickButtonLastTweets(tweet._id)">Replay</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div style="margin: 0 auto; padding-top: 10px;">
            <ngx-charts-gauge *ngIf="dataGauge && dataGauge.length > 0" [view]="viewGaugeMatone" [scheme]="colorSchemeGauge" [results]="dataGauge"
              [min]="0" [max]="20" [angleSpan]="240" [startAngle]="-120" [units]="'Tweets'" [bigSegments]="10" [smallSegments]="5">
            </ngx-charts-gauge>
          </div>
        </div>

        <div class="col col-lg-5">
          <div class="row">
            <div style="height: 350px; overflow: auto">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="col col-3">Texto</th>
                    <th class="col col-3">Usuario</th>
                    <th class="col col-2">Apoyo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let tweet of replayTweetsByID;">
                    <td class="col col-3">{{tweet.text}}</td>
                    <td class="col col-3">{{tweet.screen_name}}</td>
                    <td class="col col-1">
                      <img [src]="url(tweet.sentiment)" style="width: 60px;height: auto;">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div style="margin: 0 auto;">
              <ngx-charts-advanced-pie-chart *ngIf="dataGauge && dataGauge.length > 0" [view]="viewMatonePie" [scheme]="colorSchemeMatonePie"
                [results]="dataGauge" [gradient]="gradientMatonePie" [tooltipDisabled]="false">
              </ngx-charts-advanced-pie-chart>
            </div>
          </div>
        </div>
      </div>



    </div>





  </div>


  <!-- GRAFICAS DE LOS TEMAS DE INTERES -->
  <div class="tab-pane fade" id="timeline" role="tabpanel" aria-labelledby="timeline-tab">

    <div class="container-fluid" style="margin-top: 15px;">
      <div class="row" style="margin-top: 15px;">
        <div class="col-sm">
          <img src="assets\@A_OrdonezM.jpg" class="circle" (click)="onClickImageTopicsGetFrequencyByTopicByUsername('A_OrdonezM')">
        </div>
        <div class="col-sm">
          <img src="assets\@AlvaroUribeVel.jpeg" class="circle" (click)="onClickImageTopicsGetFrequencyByTopicByUsername('AlvaroUribeVel')">
        </div>
        <div class="col-sm">
          <img src="assets\@AndresPastrana_.jpg" class="circle" (click)="onClickImageTopicsGetFrequencyByTopicByUsername('AndresPastrana_')">
        </div>
        <div class="col-sm">
          <img src="assets\@BluRadioCo.jpg" class="circle" (click)="onClickImageTopicsGetFrequencyByTopicByUsername('BluRadioCo')">
        </div>
        <div class="col-sm">
          <img src="assets\@CaracolRadio.jpg" class="circle" (click)="onClickImageTopicsGetFrequencyByTopicByUsername('CaracolRadio')">
        </div>
        <div class="col-sm">
          <img src="assets\@CGurisattiNTN24.jpg" class="circle" (click)="onClickImageTopicsGetFrequencyByTopicByUsername('CGurisattiNTN24')">
        </div>
        <div class="col-sm">
          <img src="assets\@ClaudiaLopez.jpg" class="circle" (click)="onClickImageTopicsGetFrequencyByTopicByUsername('ClaudiaLopez')">
        </div>
        <div class="col-sm">
          <img src="assets\@DanielSamperO.jpg" class="circle" (click)="onClickImageTopicsGetFrequencyByTopicByUsername('DanielSamperO')">
        </div>
        <div class="col-sm">
          <img src="assets\@DeLaCalleHum.jpg" class="circle" (click)="onClickImageTopicsGetFrequencyByTopicByUsername('DeLaCalleHum')">
        </div>
        <div class="col-sm">
          <img src="assets\@elespectador.jpg" class="circle" (click)="onClickImageTopicsGetFrequencyByTopicByUsername('elespectador')">
        </div>
        <div class="col-sm">
          <img src="assets\@ELTIEMPO.jpg" class="circle" (click)="onClickImageTopicsGetFrequencyByTopicByUsername('ELTIEMPO')">
        </div>
      </div>
      <div class="row" style="margin-top: 15px; ">
        <div class="col-sm">
          <img src="assets\@FARC_EPaz.jpg" class="circle" (click)="onClickImageTopicsGetFrequencyByTopicByUsername('FARC_EPaz')">
        </div>
        <div class="col-sm">
          <img src="assets\@German_Vargas.jpg" class="circle" (click)="onClickImageTopicsGetFrequencyByTopicByUsername('German_Vargas')">
        </div>
        <div class="col-sm">
          <img src="assets\@IvanDuque.jpg" class="circle" (click)="onClickImageTopicsGetFrequencyByTopicByUsername('IvanDuque')">
        </div>
        <div class="col-sm">
          <img src="assets\@JSantrich_FARC.jpg" class="circle" (click)="onClickImageTopicsGetFrequencyByTopicByUsername('JSantrich_FARC')">
        </div>
        <div class="col-sm">
          <img src="assets\@JuanManSantos.jpg" class="circle" (click)="onClickImageTopicsGetFrequencyByTopicByUsername('JuanManSantos')">
        </div>
        <div class="col-sm">
          <img src="assets\@mluciaramirez.jpg" class="circle" (click)="onClickImageTopicsGetFrequencyByTopicByUsername('mluciaramirez')">
        </div>
        <div class="col-sm">
          <img src="assets\@NoticiasCaracol.jpg" class="circle" (click)="onClickImageTopicsGetFrequencyByTopicByUsername('NoticiasCaracol')">
        </div>
        <div class="col-sm">
          <img src="assets\@NoticiasRCN.jpg" class="circle" (click)="onClickImageTopicsGetFrequencyByTopicByUsername('NoticiasRCN')">
        </div>
        <div class="col-sm">
          <img src="assets\@OIZuluaga.png" class="circle" (click)="onClickImageTopicsGetFrequencyByTopicByUsername('OIZuluaga')">
        </div>
        <div class="col-sm">
          <img src="assets\@petrogustavo.jpg" class="circle" (click)="onClickImageTopicsGetFrequencyByTopicByUsername('petrogustavo')">
        </div>
        <div class="col-sm">
          <img src="assets\@TimoFARC.jpg" class="circle" (click)="onClickImageTopicsGetFrequencyByTopicByUsername('TimoFARC')">
        </div>
      </div>
      <div class="row" style="margin-top: 30px;">

        <div class="col col-5" style="margin-left: 20px; height: 500px;">
          <div>Totalidad de menciones de los temas de interés</div>
          <ngx-charts-bar-vertical *ngIf="singleTopicsAll && singleTopicsAll.length > 0" [results]="singleTopicsAll" [gradient]="gradientTopicsAll"
            [xAxis]="showXAxisTopicsAll" [yAxis]="showYAxisTopicsAll" [legend]="showLegendTopicsAll" [showXAxisLabel]="showXAxisLabelTopicsAll"
            [showYAxisLabel]="showYAxisLabelTopicsAll" [xAxisLabel]="xAxisLabelTopicsAll" [yAxisLabel]="yAxisLabelTopicsAll">
          </ngx-charts-bar-vertical>
        </div>

        <div class="col col-5" style="margin-left: 20px; height: 500px;">
          <div *ngIf="singleTopicsUser && singleTopicsUser.length > 0">Totalidad de los temas de interés donde mencionan a @{{nameTopics}}</div>
          <ngx-charts-bar-vertical *ngIf="singleTopicsUser && singleTopicsUser.length > 0" [results]="singleTopicsUser" [gradient]="gradientTopicsUser"
            [xAxis]="showXAxisTopicsUser" [yAxis]="showYAxisTopicsUser" [legend]="showLegendTopicsUser" [showXAxisLabel]="showXAxisLabelTopicsUser"
            [showYAxisLabel]="showYAxisLabelTopicsUser" [xAxisLabel]="xAxisLabelTopicsUser" [yAxisLabel]="yAxisLabelTopicsUser">
          </ngx-charts-bar-vertical>
        </div>

      </div>

      <div class="row" style="margin-top: 30px;">

        <div class="col col-5" style="margin-left: 20px; height: 500px;">
          <div *ngIf="singleTopicsUsedByUser && singleTopicsUsedByUser.length > 0">Frecuencias en que @{{nameTopics}} menciona los temas</div>
          <ngx-charts-bar-vertical *ngIf="singleTopicsUsedByUser && singleTopicsUsedByUser.length > 0" [results]="singleTopicsUsedByUser"
            [gradient]="gradientTopicsUsedByUser" [xAxis]="showXAxisTopicsUsedByUser" [yAxis]="showYAxisTopicsUsedByUser" [legend]="showLegendTopicUsedByUser"
            [showXAxisLabel]="showXAxisLabelTopicsUsedByUser" [showYAxisLabel]="showYAxisLabelTopicsUsedByUser" [xAxisLabel]="xAxisLabelTopicsUsedByUser"
            [yAxisLabel]="yAxisLabelTopicsUsedByUser">
          </ngx-charts-bar-vertical>
        </div>

        <div class="col col-5" style="margin-left: 20px; height: 500px;">
          <div *ngIf="singleTopicsUsedByUser && singleTopicsUsedByUser.length > 0">Porcentaje en que @{{nameTopics}} menciona los temas</div>
          <ngx-charts-advanced-pie-chart *ngIf="singleTopicsUsedByUser && singleTopicsUsedByUser.length > 0" [results]="singleTopicsUsedByUser"
            [gradient]="gradientTopicsUsedByUser" [scheme]="colorSchemeTopicsUsedByUse">
          </ngx-charts-advanced-pie-chart>
        </div>

      </div>

    </div>

  </div>


  <!-- TAG CLOUD -->
  <div class="tab-pane fade" id="afinidad" role="tabpanel" aria-labelledby="afinidad-tab">
    <div (click)="getCloud()"> hola</div>
    <div id="cloud">
      <img id="imgcloud">
    </div>
  </div>
  <div class="tab-pane fade" id="tweets" role="tabpanel" aria-labelledby="tweets-tab">Aqui van los tweets</div>
  <div class="tab-pane fade" id="mapa" role="tabpanel" aria-labelledby="tweets-tab">Aqui va el mapa



  </div>
</div>