<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="jumbotron jumbotron-fluid" style="padding-top: 15px; padding-bottom: 15px; margin-bottom: 10px">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-md-10">
        <h3 class="display-4">NoSQL y análisis de contenido</h3>
        <p class="lead">Análisis de una fuente de datos escalable, con contenido textual. </p>
        <span class="text-muted">Grupo 10: Diego Fernando Escobar Trujillo - Lucy Jacquelin Morales Diaz - Alejandro Mazuera Rozo</span>
      </div>
      <div class="col-xs-2 col-md-2">
        <img src="assets\twitter.png" style="width: 100%;height: auto;">
      </div>

    </div>

  </div>
</div>

<div class="container-fluid">
  <!-- this creates a google map on the page with the given lat/lng from -->
  <!-- the component as the initial center of the map: -->
  <div class="row">
    <div class="col col-6">
      <div>Ciudad seleccionada: {{ciudad}}</div>
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-circle [latitude]="latBog" [longitude]="lngBog" 
          [radius]="50000"
          [fillColor]="'red'"
          [circleDraggable]="false"
          [editable]="false" 
          [clickable]="true"
          (circleClick)="clicZone('Bogota')">
      </agm-circle>

      <agm-circle [latitude]="latClo" [longitude]="lngClo" 
          [radius]="50000"
          [fillColor]="'blue'"
          [circleDraggable]="false"
          [editable]="false"
          [clickable]="true"
          (circleClick)="clicZone('Cali')">
      </agm-circle>

      <agm-circle [latitude]="latMde" [longitude]="lngMde" 
          [radius]="50000"
          [fillColor]="'green'"
          [circleDraggable]="false"
          [editable]="false"
          [clickable]="true"
          (circleClick)="clicZone('Medellin')">
      </agm-circle>

      <agm-circle [latitude]="latBqa" [longitude]="lngBqa" 
          [radius]="50000"
          [fillColor]="'yellow'"
          [circleDraggable]="false"
          [editable]="false"
          [clickable]="true"
          (circleClick)="clicZone('Barranquilla')">
      </agm-circle>

      <agm-circle [latitude]="latCtg" [longitude]="lngCtg" 
          [radius]="50000"
          [fillColor]="'cyan'"
          [circleDraggable]="false"
          [editable]="false"
          [clickable]="true"
          (circleClick)="clicZone('Cartagena')">
      </agm-circle>

      <agm-circle [latitude]="latPoy" [longitude]="lngPoy" 
          [radius]="50000"
          [fillColor]="'grey'"
          [circleDraggable]="false"
          [editable]="false"
          [clickable]="true"
          (circleClick)="clicZone('Popayan')">
      </agm-circle>

      <agm-circle [latitude]="latPas" [longitude]="lngPas" 
          [radius]="50000"
          [fillColor]="'cyan'"
          [circleDraggable]="false"
          [editable]="false"
          [clickable]="true"
          (circleClick)="clicZone('Pasto')">
      </agm-circle>

      <agm-circle [latitude]="latNei" [longitude]="lngNei" 
          [radius]="50000"
          [fillColor]="'purple'"
          [circleDraggable]="false"
          [editable]="false"
          [clickable]="true"
          (circleClick)="clicZone('Neiva')">
      </agm-circle>

      <agm-circle [latitude]="latBuc" [longitude]="lngBuc" 
          [radius]="50000"
          [fillColor]="'brown'"
          [circleDraggable]="false"
          [editable]="false"
          [clickable]="true"
          (circleClick)="clicZone('Bucaramanga')">
      </agm-circle>

      <agm-circle [latitude]="latPer" [longitude]="lngPer" 
          [radius]="50000"
          [fillColor]="'yellow'"
          [circleDraggable]="false"
          [editable]="false"
          [clickable]="true"
          (circleClick)="clicZone('Pereira')">
      </agm-circle>

       <agm-circle [latitude]="latTun" [longitude]="lngTun" 
          [radius]="50000"
          [fillColor]="'yellow'"
          [circleDraggable]="false"
          [editable]="false"
          [clickable]="true"
          (circleClick)="clicZone('Tunja')">
      </agm-circle>
      </agm-map>
    </div>
    <div class="col col-6" style="height: 550px; overflow: auto">
       <div class="row" style="margin-top: 15px; ">
        <div class="col col-3" style="margin-bottom: 10px;">
          <button type="button" class="btn btn-primary btn-lg btn-block" (click)="selectTopic('Corrup')">Corrupción</button>
        </div>
        <div class="col col-3" style="margin-bottom: 10px;">
          <button type="button" class="btn btn-primary btn-lg btn-block" (click)="selectTopic('jep')">JEP</button>
        </div>
        <div class="col col-3" style="margin-bottom: 10px;">
          <button type="button" class="btn btn-primary btn-lg btn-block" (click)="selectTopic('farc')">FARC</button>
        </div>
        <div class="col col-3" style="margin-bottom: 10px;">
          <button type="button" class="btn btn-primary btn-lg btn-block" (click)="selectTopic('preside')">Presidencial</button>
        </div>
        <div class="col col-3" style="margin-bottom: 10px;">
          <button type="button" class="btn btn-primary btn-lg btn-block" (click)="selectTopic('paz')">Paz</button>
        </div>
        <div class="col col-3" style="margin-bottom: 10px;">
          <button type="button" class="btn btn-primary btn-lg btn-block" (click)="selectTopic('candida')">Candidaturas</button>
        </div>
        <div class="col col-3" style="margin-bottom: 10px;">
          <button type="button" class="btn btn-primary btn-lg btn-block" (click)="selectTopic('coca')">Coca</button>
        </div>
        <div class="col col-3" style="margin-bottom: 10px;">
          <button type="button" class="btn btn-primary btn-lg btn-block" (click)="selectTopic('eln')">ELN</button>
        </div>
        <div class="col col-3">
          <button type="button" class="btn btn-primary btn-lg btn-block" (click)="selectTopic('narco')">Narco</button>
        </div>
        <div class="col col-3">
          <button type="button" class="btn btn-primary btn-lg btn-block" (click)="selectTopic('mermelada')">Mermelada</button>
        </div>
        <div class="col col-3">
          <button type="button" class="btn btn-primary btn-lg btn-block" (click)="selectTopic('justicia')">Justicia</button>
        </div>
      </div>
      <table class="table table-striped" style="margin-top: 10px;">
        <thead>
          <tr>
            <th class="col-xs-6">Texto</th>
            <th class="col-xs-2">Usuario</th>
            <th class="col-xs-2">Menciones</th>
            <th class="col-xs-2">Polaridad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tweet of infoTweets;">
            <td class="col-xs-3">{{tweet.text}}</td>
            <td class="col-xs-3">
              {{tweet.screen_name}}
            </td>
            <td class="col-xs-6">
              <ul>
                <li *ngFor="let mencion of tweet.entities_mentions;">{{mencion}}</li>
              </ul>
            </td>
            <td class="col-xs-3">
              <img [src]="url(tweet.sentiment)" style="width: 60px;height: auto;">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>